<div class="page-header">
  <h2>Projet: {{ project.name}}</h2>
</div>
<hr>

<div class="row">
  <div class="col-lg-12">

    <div class="form-group col-md-4">
      <label for="name">Nom du projet:</label>
      <input type="text"
             class="form-control"
             id="name"
             name="name"
             readonly
             value="{{project.name}}">
    </div>
    <div class="form-group col-md-4">
      <label for="description">Description du projet:</label>
      <textarea type="text"
                style="resize: none;"
                class="form-control"
                rows="5"
                id="description"
                name="description"
                readonly
                value="{{project.description}}">
      </textarea>
    </div>
    <div class="form-group col-md-4">
      <label for="partners">Equipiers:</label>
      <br />
      <ul class="col-md-4">
        <li *ngFor="let partner of project.partners">{{ partner.username }}</li>
      </ul>

    </div>

    <div class="form-group col-md-4">
      <label for="startDate">Date de début du projet:</label>
      <div class="form-group">
        <div class='input-group'>
          <input type='text'
                 class="form-control"
                 id="startDate"
                 #dateStart="ngModel"
                 name="startDate"
                 [(ngModel)]="project.startDate"
                 placeholder="yyyy-mm-dd"
                 readonly />
        </div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="endDate">Date de fin du projet:</label>
      <div class="form-group">
        <div class='input-group'>
          <input type='text'
                 class="form-control"
                 id="endDate"
                 #dateEnd="ngModel"
                 name="endDate"
                 [(ngModel)]="project.endDate"
                 placeholder="yyyy-mm-dd"
                 readonly />
        </div>
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="creationDate">Date de création du projet:</label>
      <div class="form-group">
        <div class='input-group'>
          <input type='text'
                 class="form-control"
                 id="creationDate"
                 #dateEnd="ngModel"
                 name="creationDate"
                 [(ngModel)]="project.creationDate"
                 placeholder="yyyy-mm-dd"
                 readonly />
        </div>
      </div>
    </div>


    <div class="block-center">
      <h2>Commentaires:</h2>

      <ul>
        <li>Guillaume: Super! - il y a 10 minutes</li>
        <li>Guillaume: Super! - il y a 10 minutes</li>
        <li>Guillaume: Super! - il y a 10 minutes</li>
        <li>Guillaume: Super! - il y a 10 minutes</li>
        <li>Guillaume: Super! - il y a 10 minutes</li>
      </ul>

      <div>
        <form enctype="multipart/form-data" style="max-width: 700px;" class="mx-auto">
          <div class="form-group">
            <textarea class="form-control" placeholder="Votre commentaire"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Déposer mon commentaire</button>
        </form>
      </div>
    </div>
  </div>
</div>
