<div class="page-header">
  <h2>My projects</h2>
</div>
<p class="lead">Here, you can see the list of your projects</p>
<hr>
<div class="row">
  <div class="col-lg-12">
    <table class="table table-hover table-dark">
      <thead>
      <tr>
        <th scope="col">#id</th>
        <th scope="col">Name</th>
        <th scope="col">Token</th>
        <th scope="col">Partners</th>
        <th scope="col">Creation date</th>
        <th scope="col">View</th>
        <th scope="col">update</th>
        <th scope="col">delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let project of projects;">
        <td>{{ project.id }}</td>
        <td>{{ project.name }}</td>
        <td>{{ project.token }}</td>
        <td>
          <ul>
            <li *ngFor="let partner of project.partners">{{ partner.username }}</li>
          </ul>
        </td>
        <td>{{ project.creationDate | customDate }}</td>
        <td><button class="btn btn-sm btn-primary" [routerLink]="['/projects/view/', project.id]" ><i class="fa fa-eye"></i></button></td>
        <td><button class="btn btn-sm btn-warning" [routerLink]="['/projects/update/', project.id]"><i class="fa fa-wrench"></i></button></td>
        <td><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>