<nav class="navbar navbar-expand navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow position-relative" style="min-height: 20px;max-height: 50px;">
  <a class="navbar-brand" href="#">
    <img src="../../assets/images/logoepsi.png" class="img-fluid img-responsive" style="min-height: 20px; max-height: 50px;" />
  </a>
  <a href="#" data-target="#sidebar" data-toggle="collapse"><i class="fa fa-navicon fa-2x py-2 p-1"></i></a>
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">My EPSI Projects</a>

  <ul class="navbar-nav px-3" style="margin-right: 0px; margin-left: auto;">
    <li style="margin:auto"><span class="text-primary"><i class="fa fa-user-circle"></i></span></li>
    <li class="nav-item dropdown">
      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="http://example.com" id="dropdown03">Prénom Nom</a>
      <div aria-labelledby="dropdown03" class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <a class="dropdown-item" href="#">Déconnexion</a>
      </div>
    </li>
  </ul>
</nav>
