<div class="page-header">
  <h2>Créer un campus</h2>
</div>
<hr>
<div class="row">
  <div class="col-lg-12">
    <form (ngSubmit)="addCampus(campusForm)" #campusForm="ngForm" enctype="multipart/form-data" style="max-width: 700px;" class="mx-auto">
      <div class="form-group">
        <label for="name">Nom du campus :</label>
        <input type="text"
               class="form-control"
               id="name"
               #name="ngModel"
               name="name"
               [(ngModel)]="campus.name">
      </div>
      <button type="submit" class="btn btn-primary"><i class="fa fa-arrow"></i>Créer</button>
    </form>
  </div>
</div>
