<div class="page-header">
  <h2>Créer un campus</h2>
</div>
<hr>
<div class="row">
  <div class="col-lg-12">
    <form (ngSubmit)="addUser(userForm)" #userForm="ngForm" enctype="multipart/form-data" style="max-width: 700px;" class="mx-auto">
      <div class="form-group">
        <label for="login">Nom du campus :</label>
        <input type="text"
               class="form-control"
               id="login"
               #name="ngModel"
               name="login"
               [(ngModel)]="user.login">
      </div>


      <button type="submit" class="btn btn-primary"><i class="fa fa-arrow"></i> Submit</button>
    </form>
  </div>
</div>
