<div class="page-header">
  <h2>Admin space</h2>
</div>
<p class="lead">Here, you can manage user and projects</p>
<hr>
<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-6">Search project</div>
      <div class="col-lg-6">Search user</div>
      <div class="col-lg-12">
          <hr>
        <h2>Activity</h2>
        <hr>
        <div>
          User à créé le project "blabla"
        </div>
        <div>
          User à créé le project "blabla"
        </div>
        <div>
          User à créé le project "blabla"
        </div>
      </div>
    </div>
  </div>
</div>