<div class="page-header">
    <h2>User role</h2>
</div>
<p class="lead">Here, you can create a role.</p>
<hr>
<div class="row">
    <div class="col-lg-12">
        <form (ngSubmit)="addRole(roleForm)" #roleForm="ngForm" enctype="multipart/form-data" style="max-width: 700px;" class="mx-auto">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text"
                       class="form-control"
                       id="name"
                       #name="ngModel"
                       name="name"
                       [(ngModel)]="role.name">
            </div>
            <button type="submit" class="btn btn-primary"><i class="fa fa-arrow"></i> Submit</button>
        </form>
    </div>
</div>
