<div class="page-header">
  <h2>Project update</h2>
</div>
<p class="lead">Warning, you will update this project: name of project.</p>
<hr>
<div class="row">
  <div class="col-lg-12">
    <form (ngSubmit)="updateProject(projectForm)" #projectForm="ngForm" enctype="multipart/form-data" style="max-width: 700px;" class="mx-auto">
      <div class="form-group">
        <label for="name">Name of project:</label>
        <input type="text"
               class="form-control"
               id="name"
               #name="ngModel"
               name="name"
               [(ngModel)]="project.name">
      </div>
      <div class="form-group">
        <label for="description">Description of project:</label>
        <input type="text"
               class="form-control"
               id="description"
               #description="ngModel"
               name="description"
               [(ngModel)]="project.description">
      </div>
      <div class="form-group">
        <label for="partners">Select partners</label>
        <select id="partners"
                #partners="ngModel"
                name="partners"
                [(ngModel)]="project.partners" multiple>
          <option *ngFor="let partner of userList" [ngValue]="partner.id">{{partner.username}}</option>
        </select>
        <br />
      </div>
      <div class="form-group">
        <label for="dateStart">Date de début du projet:</label>
        <div class="form-group">
          <div class='input-group'>
            <input type='text'
                   class="form-control"
                   id="dateStart"
                   #dateStart="ngModel"
                   name="dateStart"
                   [(ngModel)]="project.dateStart"
                   placeholder="yyyy-mm-dd"/>
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
              </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="dateEnd">Date de fin du projet:</label>
        <div class="form-group">
          <div class='input-group'>
            <input type='text'
                   class="form-control"
                   id="dateEnd"
                   #dateEnd="ngModel"
                   name="dateEnd"
                   [(ngModel)]="project.dateEnd"
                   placeholder="yyyy-mm-dd"/>
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
              </span>
          </div>
        </div>
      </div>
      <button type="submit" (click)="updateProject()" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
