<div class="page-header">
  <h2>Liste des utilisateurs</h2>
</div>
<hr>
<div class="row">
  <div class="col-lg-12">
    <table class="table table-hover table-dark">
      <thead>
      <tr>
        <th scope="col">#id</th>
        <th scope="col">Login</th>
        <th scope="col">Email</th>
        <th scope="col">Statut</th>
        <th scope="col">Compétences</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users; let index = key" [routerLink]="['/users/', user.id]">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.roles }}</td>
        <td>{{ user.skills }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
