<div class="page-header">
  <h2>Activity</h2>
</div>
<p class="lead">Here, you can see project activities which you contrib</p>
<hr>
<div class="row" style="margin-left: 0px !important; margin-right: 0px !important;">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-6">Search project</div>
      <div class="col-lg-6">Search user</div>
      <div class="col-lg-12">
        <hr>
        <h2>Activity</h2>
        <hr>
        <div>
          User vous a ajouté au projet "blabla"
        </div>
        <div>
          User à commenté le project "blabla"
        </div>
        <div>
          User à créé le project "blabla"
        </div>
      </div>
    </div>
  </div>
</div>
